
.save{
    float: right;
}

.add-button{
    margin: 0 auto;
    display: table;
}

.admin-footer{
    margin-top: 50px;
    display: inline-block;
    width: 100%;
}

.form-group .checkbox{
    width: 32px;
}

.image_block img{
    max-width: 100%;
}