
/*media*/

@media only screen and (max-width: 1440px) {



    .top-container .top-bar-field{
        display: none;
    }
    .top-container .calc_div{
        display: block;
    }

}
@media only screen and (max-width: 768px) {
    .home_ul {
        display: none;
    }

    #myModal .col-xs-8{
        width: 100%;
    }

    #myModal .col-md-offset-2{
        text-align: center;
    }


    #myModal label{
        display: none;
    }

    .hero-title {
        top: -3.5em;
        font-size: 29px;
        top: -166px;
    }


    .service_block table tr {
        display: block;
    }
    .service_block table td {
        display: block;
        text-align: right;
    }
    .service_block table td:last-child {
        border-bottom: 0;
    }
    .service_block table td:before {
        content: attr(data-label);
        float: left;
        font-weight: bold;
        text-transform: uppercase;
    }

    .service_block .table tbody tr td{
        width: 100%;
    }

    .service_block .td_1 div{
        left: 74%;
        width: 27%;
        text-align: right;
        position: relative;
        top: -25px;
    }

    .service_block .td_0{
        margin-top: 45px;
        margin-bottom: 13px;
    }
    .service_block .td_1{
        height: 54px;
    }

    .service_block .td_1 .form-control{
        width: 100%;
    }

    .service_block .td_2{
        border-bottom: 1px solid #c7c7c7 !important;
        height: 54px;

    }

    .service_block .td_0{
        border-top: none;
    }

}
@media only screen and (min-width: 426px) and (max-width: 768px) {

    #myModal .col-md-12{
        width: 100%;
    }

}
@media only screen and (max-width: 425px) {

}
/*end media*/