
.myfooter-bottom {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: white;
    text-align: center;
    height: 30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.myfooter-bottom .container{
    margin-top: 4px;
}



/*top fixed menu*/
.top-container {
    background-color: #272727;
    padding: 7px;
    text-align: center;
    height: 35px;
}

.header {
    background: none;
    color: #f1f1f1;
    z-index: 1;
}
.navbar{
    z-index: 2;
}
.top{
    position: absolute;
    border-bottom: solid #d2d2d2 2px;
    width: 100%;
}


.navbar-brand{
    font-size: 30px;
    color: white;
}
.sticky .navbar-brand{
    color: #101010;
}
.navbar-brand:hover{
    color: #d2d2d2;
}
.navbar-brand span{
    font-weight: bold;
}

.header-wrapper{

    position: relative;


}
.custom-mobile-image{
    background-image: url(/img/header/head.jpg);
    padding-top: 124px;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-filter: brightness(0.4);

}

.hero-title{
    font-size: 52px;
    position: relative;
    top: -350px;
    text-align: center;
    color: white;
}


.header .sticky{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.header .sticky, .header .sticky>.inner{
    background-color: white;
    color: black;
    background-image: none;

}
.inner-header-description {

    text-align: center !important;

}
.inner-header-description {

    padding-top: 16%;
    padding-bottom: 14%;

}

.inner-header-description {

    padding-top: 16%;
    padding-bottom: 14%;

}

.header ul li a{
    color: white;
    font-size: 16px;
    font-weight: bolder;
}
.header ul li a:hover{
    color: #cdcdcd;
    background: none;
}

.header .sticky ul li a{
    color: black;
}
.header .sticky>inner{

}
.content {
    /*padding: 16px;*/
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.sticky + .content {
    padding-top: 102px;
}

/*end top fixed menu*/

.calc .td_0{
    width: 80%;
}

.calc  .td_1{
    width: 10%;
}

.td_2{
    text-align: right;
}

.result-block{
    display: none;
}

.top-container a{
    text-decoration: none;
}

.modal-body{
    display: -webkit-box;
}

.home_ul{
  text-align: center;
    padding: 0;
}
.home_ul li{
    list-style: none;
    display: inline-block;
    padding: 20px;
}

.navbar-toggle .icon-bar {
    background-color: #f5f8fa;
}
.sticky .navbar-toggle .icon-bar {
    background-color: #626b6e;
}


/*+++++++++++++++++ footer style +++++++++++++++++++*/

.footer {
    font-size: 16px;
    font-family: "Open Sans",sans-serif;
}
.footer ul{
    padding: 0;
}
.footer {
    background-color: #fff;
    margin-bottom: -1px;
}

.footer-content-lists .footer-content {
    background-color: #222;
}

.footer .footer-content {
    position: relative;
    z-index: 0;
}

.footer .gridContainer {
    position: relative;
    z-index: 2;
    color: white;
}

.footer .gridContainer a{
    color: white;

}
.footer .gridContainer li{
    list-style: none;

}
.footer .gridContainer li a{
    color: #aaa;
}
.footer-content-lists .footer-column-black {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #000;
}

.flexbox, .flexbox-strech{
    display: flex;
}

.footer-content-lists .widgets-row {
    flex-basis: 100%;
}

.footer .row{
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    height: 100%;
}

.footer-content-lists .widgets-row>* {
    background-color: #030303;
}

.footer-content-lists .widgets-row>* {
    padding-top: 40px;
    padding-bottom: 40px;
    border-left: 1px solid rgba(128,128,128,.2);

}

.footer .row .col-sm-4{
    height: 100%;
}

.space-bottom-small, .v-spacing {
    margin-bottom: 1rem;
}

.footer-social-icons {
    max-width: 100%;
    margin: -5px;
}

.footer .footer-content {
    background-image: url(../img/footer/fon-interieor-remont.png);
}

.widgettitle{
    text-transform: uppercase;
}

.footer-content-lists a {
    color: #aaa;
    text-decoration: none;
}

.footer-content-lists a:hover {
    color: #aaa;
    border-bottom: 1px solid #999;
    text-decoration: underline;
}

.footer-content-lists a:hover {
    color: #aaa;
    border-bottom: 1px solid #999;
}

.footer h4 {
    font-family: "Open Sans",sans-serif;
    line-height: 1.75rem;
    letter-spacing: .0625rem;
    font-weight: 600;
    text-rendering: optimizeLegibility;
    margin-bottom: 16px;
}
/*+++++++++++++++++ end footer style +++++++++++++++++++*/

.myfooter{
    padding-top: 36px;
}

.sticky .navbar-brand:hover{
    color: rgba(45, 45, 45, 0.89);
}

.navbar {
    margin: 11px 0px;
}

.td_1 .form-control{
    width: 73%;
    background-color: #fbfdff;
}

.top-container div{
    margin-top: -5px;
    padding-bottom: 0px;
}

.widgettitle{
    display: none;
}